@import url("hk-pyg.css"); /* for syntax highlighting */

a {
  color: black;
}

a:hover {
  color: #d44;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1.title {
  border-bottom: 2px solid #ddd;
  font-size: 30px;
  margin-top: 30px;
}

h1 {
  border-bottom: 2px solid #ddd;
  font-size: 30px;
  margin-top: 30px;
}

h2 {
  border-bottom: 2px solid #ddd;
  font-size: 22px;
  margin-top: 20px;
}

#menu h1 {
  font-size: 30px;
  font-weight: 100;
}

#menu h1 a {
  color: #333;
  text-decoration: none;
}

#menu ul#nav {
  margin-top: 20px;
  margin-left: 0px;
  list-style-type: none;
}

#menu ul#nav li {
  margin-top: 5px;
  font-size: 28px;
}

#menu ul#nav li a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
}

#menu ul#nav li a:hover {
  color: maroon;
}

#main {
  box-shadow: 5px 5px 10px #dddddd;
  border: 1px solid #ddd;
  background: #fff;
}

div#footer {
  text-align: center;
  font-size: 13px;
  margin-top: 1em;
}

div.figure img {
	max-width: 95%;
}

div.figure {
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: center;
}

div.figure p.caption {
  font-style: italic;
  width: 80%;
  /*
  background-color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  */
  margin: auto;
}

pre {
  background-color: #eee;
  padding: 1em;
  overflow: auto;
  border-radius: 0.5em;
  font-weight: normal;
}

pre code {
  font-weight: normal;
}

code {
  font-weight: bold;
  font-size: 110%;
  background-color: #eee;
  border-radius: 0.4em;
}

tr.post-entry .post-date {
  border-right: 1px solid #ccc;
  vertical-align: middle;
  text-align: right;
  padding-right: 20px;
}

tr.post-entry > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

tr.post-entry .post-title {
  vertical-align: middle;
  padding-left: 10px;
}

tr.post-entry a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
}

tr.post-entry a:hover {
  color: maroon;
}

div.postdate {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding-top: 0.5em;
}

div.posttitle {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  border-left: 1px solid #ddd;
  padding-top: 0.5em;
}

#posts {
  padding-bottom: 10px;
}

#postinfo {
  color: #ddd;
  margin-bottom: 1em;
}

#postinfo a {
  color: #ddd;
}

#postinfo a:hover {
  color: #d44;
}

#tags {
  float: right;
}

dd {
	padding-left: 5em;
}
