@import url("hk-pyg.css"); /* for syntax highlighting */

html {
  background: #f8f8f8;
}

a {
  color: black;
}

a:hover {
  color: #d44;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1.title {
  border-bottom: 2px solid #ddd;
  font-size: 30px;
  margin-top: 30px;
}

h1 {
  border-bottom: 2px solid #ddd;
  font-size: 30px;
  margin-top: 30px;
}

h2 {
  border-bottom: 2px solid #ddd;
  font-size: 22px;
  margin-top: 20px;
}

#page-container {
}

#menu {
  position: fixed;
  left: 20px;
  top: 30px;

}

#menu h1 {
  font-size: 30px;
  font-weight: 100;
}

#menu h1 a {
  color: #333;
  text-decoration: none;
}

#menu ul#nav {
  margin-top: 20px;
  margin-left: 0px;
  list-style-type: none;
}

#menu ul#nav li {
  margin-top: 5px;
  font-size: 20px;
}

#menu ul#nav li a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
}

#menu ul#nav li a:hover {
  color: maroon;
}

#body {
  margin: auto;
  margin-left: 240px;
}


#main {
  box-shadow: 8px 4px 4px #dddddd, -4px 4px 4px #dddddd;
  border: 1px solid #eee;
  background: #fff;
  width: 800px;
  padding: 0 30px 0 30px;
  margin-top: 30px;
}

div#footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

div.figure {
	text-align: center;
}

div.figure p.caption {
  font-style: italic;
  background-color: #eee;
  width: 80%;
  padding: 1em;
  border-radius: 0.5em;
  margin: auto;
}

pre {
  background-color: #eee;
  padding: 1em;
  overflow: auto;
  border-radius: 0.5em;
  font-weight: normal;
}

pre code {
  font-weight: normal;
}

code {
  font-weight: bold;
  font-size: 110%;
  background-color: #eee;
  padding: 0.2em;
  border-radius: 0.4em;
}


tr.post-entry {
}

tr.post-entry .post-date {
  border-right: 1px solid #ccc;
  vertical-align: middle;
  text-align: right;
  padding-right: 20px;
}

tr.post-entry > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

tr.post-entry .post-title {
  vertical-align: middle;
  padding-left: 10px;
}

tr.post-entry a {
  text-decoration: none;
  color: #333;
  font-size: 30px;
}

tr.post-entry a:hover {
  color: maroon;
}

div.postdate {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  clear: both;
  width: 9.5em;
  float: left;
  text-align: right;
  margin: 0;
}

div.posttitle {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 0 11.5em;
  border-left: 1px solid black;
  padding: 0 1em 1em 1em;
}

#postinfo {
  color: #ddd;
}

#postinfo a {
  color: #ddd;
}

#postinfo a:hover {
  color: #d44;
}

#date {
}

#tags {
  float: right;
}
