<script type="text/javascript">
    var disqus_developer = 1;
</script>

<h1 class="title">$title$</h1>
<div id="postinfo">
<span id="date">$date$</span><span id="tags">Tags: $prettytags$.</span>
</div>

$body$

<div id="share-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="ehamberg">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <g:plusone size="medium" annotation="inline"></g:plusone>
</div>

<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_identifier = '$url$';
var disqus_url = 'http://hamberg.no/erlend/blog' + '$url$';
var disqus_title = '$title$';
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://ehamberg.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript><p>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=ehamberg">comments powered by Disqus.</a></p></noscript>
